* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#nav-builder {
  width: 80vw;
  min-height: 800px;
  max-height: 800px;
  border: 1px solid black;
  overflow: scroll;
}

#nav {
  position: fixed;
  width: 80vw;
  height: 20px;
  background-color: #333333;
}

#section-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#section-2 {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
