* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.attributes-container {
  width: 80vw;
  display: flex;
}

#attributes {
  width: 70%;
  min-height: 0;
  max-height: 200px;
  border: 1px solid black;
  overflow: scroll;
}

#attributes label,
#attributes input,
#attributes h4,
#view-size h4,
#view-size label,
#view-size input,
#code-section #html-code h4,
#code-section #css-code h4,
#code-section #javascript-code h4 {
  margin-left: 1rem;
}

#nav-builder {
  width: 80vw;
  min-height: 0;
  max-height: 800px;
  border: 1px solid black;
  overflow: scroll;
  position: relative;
}

#view-size {
  width: 30%;
  margin-left: 40px;
  min-height: 0;
  max-height: 200px;
  border: 1px solid black;
  overflow: scroll;
}

#nav {
  position: fixed;
  width: 80vw;
  padding: 16px 32px;
  background-color: #333333;
  color: #fff;
  transform-origin: top;
}

#inner-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-links {
  display: flex;
}

#nav-links p {
  margin-left: 1rem;
  transition: 0.2s;
  position: relative;
}

#nav-links p:hover {
  cursor: pointer;
}

/* Scale Hover */
/* Scale Hover */
/* Scale Hover */

#section-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#section-2 {
  width: 100%;
  height: 100%;
  background-color: #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#code-section {
  width: 80vw;
  min-height: 0;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
}

#html-code,
#css-code,
#javascript-code {
  width: 32%;
  border: 1px solid black;
  overflow: scroll;
}

#nav-on-scroll {
  display: none;
}

#nav-links-mobile {
  display: none;
}

#nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#css-nav-links {
  display: none;
}

#nav-mobile-menu {
  width: 100%;
  height: 500px;
  background: #333333;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right;
  transform: scaleX(0);
  transition: 0.4s;
}

#nav-mobile-links {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
}

/* #nav-mobile-links p {
  color: #ffffff;
} */
